@font-face{
    font-family: "Lato-black";
    src: url("../fonts/lato-black-webfont.woff") format("woff"),
    url("../fonts/lato-black-webfont.woff2") format("woff2");
    // font-weight: 500;
    // font-style: normal;
    // font-stretch: normal;
    // font-display: swap;
}

@font-face{
    font-family: "Lato-regular";
    src: url("../fonts/lato-regular-webfont.woff") format("woff"),
    url("../fonts/lato-regular-webfont.woff2") format("woff2");
    // font-weight: 400;
    // font-style: normal;
    // font-stretch: normal;
    // font-display: swap;
}