$header-top-bg-color: #262626;
$header-bottom-bg-color: #2a2a2a;
$header-color: #d9d9d9;
$header-active-text: #ff6760;
$main-alt-bg-color: #f8f8f8;
$main-white-bg-color: #ffffff;
$main-title-color: #616161;
$button-color: #ffffff;
$button-acitive-bg-color: #595959;
$button-bg-color: #ff6760;
$footer-top-bg-color: #313131;
$footer-bottom-bg-color: #2c2c2c;
$footer-title-color: #e0e0e0;
$footer-text-color: #bebebe;
$width: 1200px;
$base-ff: "Lato-regular";
$black-ff: "Lato-black";
$base-fs: 20px;
$count-columns: 4;
