$header-top-bg-color:#262626;
$header-bottom-bg-color:#2A2A2A;
$header-color:#D9D9D9;
$header-active-text:#FF6760;
$main-alt-bg-color:#F8F8F8;
$main-white-bg-color:#FFFFFF;
$main-title-color:#616161;
$button-color:#FFFFFF;
$button-acitive-bg-color:#595959;
$button-bg-color:#FF6760;
$footer-top-bg-color:#313131;
$footer-bottom-bg-color:#2C2C2C;
$footer-title-color:#E0E0E0;
$footer-text-color:#BEBEBE;
$width: 1200px;
$base-ff: "Lato-regular";
$black-ff: "Lato-black";
$base-fs: 20px;