.works{
    padding-top: 45px;
}

.works__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works__title{
    margin: 0;
}

.works__controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 20px;
}

.works__controls-button{
    width: auto;
    height: 35px;
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;
    &:last-of-type{
        margin-right: 0;
    }
}

